

body
{
  
  width: 90%;
  padding: 15px;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  
}
h1
    {
        text-align: center;
        background-color: cadetblue;
        color: white;
        font-size: 50px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
h2
{
 font-size: 30px;
}
.project1
    {
        width: 40%;
        margin-right: -30px;
        margin-left: 10px;
        padding:1px 4px 2px 4px;
       
        
       

    }
.pic
{
    width: 90%;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
}
a
{
    color: lightcoral;
    text-decoration: none;
    }

.text
{
    text-align: center;
    border-bottom: 5px solid lightcoral;
    font-size: 30px;
  
    
}

.edu
{ 
    border-width: 5px;
    border-color: lightcoral;
    border-style: solid;
    background-color: cadetblue;
    color: white;
    float:right;
    width: 45%;
    padding: 5px 5px 2px 10px;
    margin-left: 10px;
    margin-top: -570px;
    margin-bottom: 30px;

}
 
footer
{
    margin-top: 60px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color:cadetblue;
    text-align: center;
}
footer a
    {
    color: linen;
    text-decoration: none;
    }